/********* css especifico para esta pagina web  *******/

.h-52{
    min-height: 52px;
}

.item-xs{
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: center;
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
}
.menu{
    height: 10px;
}

.menu a {
    padding: 10px 15px;
}

.menu > li {
    position: relative;
    margin: 0 10px 0 0;
    float: left;
}

.dropdown-menu > li > a {
    color: #fcfcfc;
}

.dropdown-menu > li > a:hover {
    background-color: #6d1600;
    color: #541100;
}

.slick-slider .slick-prev, .slick-slider .slick-next {
    opacity: .5;
}





/********* final css especifico  *******/




/********* basics  *******/



.btn-minw150{
    min-width: 150px;
}


.flex {
    flex-wrap: wrap;
    display: flex;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-between {
    display: flex;
    justify-content: space-between;
}

.flex-right {
    display: flex;
    justify-content: flex-end;
}

.flex-left {
    display: flex;
    justify-content: flex-start;
}

.font-s42 {
    font-size: 42px !important;
}

.font-s26 {
    font-size: 26px !important;
}

.font-s20 {
    font-size: 20px !important;
}

.font-s18 {
    font-size: 18px !important;
}

.font-s16 {
    font-size: 16px !important;
}

.no-underline {
    text-decoration: none;
}

.padding-5 {
    padding: 5px;
}

.padding-10 {
    padding: 10px;
}

.padding-20 {
    padding: 20px !important;
}

.padding-30 {
    padding: 30px !important;
}

.padding-50 {
    padding: 50px !important;
}

.padding-80 {
    padding: 80px !important;
}

.v-center {
   display:flex;
    align-items: center;
}




@media (max-width: 992px) {
    /********* medium **********/
   
}

@media (max-width: 768px) {
    /********* small **********/
    
  
    
}

@media screen and (max-width: 576px) {
    /********* extra small **********/
    
    .text-xs-center{
        text-align: center;
    }
    
    .flex-xs-center {
        display: flex;
        justify-content: center;
        align-items: center;
    }
   
}

